@page "/contactus"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using PensionManagement.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager UriHelper

<PageTitle>Contact Us</PageTitle>
@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset style="padding-top:20px;">
            <legend  style="align-self:center">Contact us</legend>
    
            <!-- Name input-->
            <div class="form-group" style="padding-top:20px;">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group" style="padding-top:10px;">
              <label class="col-md-3 control-label" for="email">Your E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group" style="padding-top:10px;">
              <label class="col-md-3 control-label" for="message">Your message</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group" style="padding-top:20px;">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg" @onclick="Save">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
 </div>
@code {
private void Save()
    {
       UriHelper.NavigateTo("/"); 
    }
}
